@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.div-object-detection-image {
  margin-top: 10%;
}

.button-select-image {
  margin-bottom: 10%;
}

.button-detect-image {
  margin-top: 10%;
}

.video {
  width: 400px;
  margin: 5%;
}

.image-canva {
  position: absolute;
  z-index: -1;
  width: 1080px;
}

.text-real-time {
  font-family: Poppins, sans-serif;
  font-weight: semibold;
  font-size: 25px;
  text-align: center;
}